*.pyc
.directory
.project
.pydevproject
.settings
build
doc/_build
dist
*.egg-info
python-package/debian/python-minerva-storage-geospatial*
python-package/debian/changelog
python-package/debian/files
schema/debian/minerva-storage-geospatial-schema*
schema/debian/changelog
schema/debian/files
python-package/src/geospatial.egg-info
