*.egg-info/*
*.pyc
*.swp
*/debian/changelog
*/debian/files
.directory
.project
.pydevproject
.settings/*
build/*
debian/python-minerva.*
debian/python-minerva/*
dist/*
doc/_build
python-package/build/
python-package/debian/python-minerva-storage-trend*
python-package/dist/
python-package/src/minerva.egg-info/
schema/debian/minerva-storage-trend-schema*
