*.pyc
*.swp
.directory
.project
.pydevproject
.settings/*
build/*
doc/_build
dist/*
*.egg-info/*
debian/python-minerva/*
debian/python-minerva.*
*/debian/files
python-package/debian/python-minerva-storage-trend*
*/debian/changelog
schema/debian/minerva-storage-trend-schema*
