Source: python-minerva
Section: contrib/python
Priority: extra
Maintainer: Hendrikx ITC <info@hendrikx-itc.nl>
Build-Depends: debhelper (>= 11), python-setuptools, dh-python
Standards-Version: 3.9.2
XS-Python-Version: 2.7
Homepage: http://hendrikx-itc.nl
Vcs-Git: http://github.com/hendrikx-itc/minerva.git
Vcs-Browser: http://github.com/hendrikx-itc/minerva

Package: python-minerva
Section: contrib/python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Minerva Core Library
 The Minerva Core Library provides core functionality for all Python based
 Minerva solutions.
