Source: python3-minerva-etl
Section: contrib/python
Priority: extra
Maintainer: Hendrikx ITC <info@hendrikx-itc.nl>
Build-Depends: debhelper (>= 11), python3, python3-pip, dh-python, python3-all, python3-all-dev
Standards-Version: 3.9.2
X-Python3-Version: >= 3.6
Homepage: http://hendrikx-itc.nl
Vcs-Git: http://github.com/hendrikx-itc/python-minerva-etl.git
Vcs-Browser: http://github.com/hendrikx-itc/python-minerva-etl

Package: python3-minerva-etl
Section: contrib/python
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Minerva ETL Core Library
 The Minerva ETL Core Library provides core functionality for all Python based
 Minerva solutions.
