{
    "entity_type": "node",
    "granularity": "15m",
    "timestamp": "timestamp",
    "identifier": "node",
    "delimiter": "\t",
    "columns": [
        {
            "name": "outside_temp",
            "data_type": "numeric"
        },
        {
            "name": "inside_temp",
            "data_type": "numeric"
        },
        {
            "name": "power_kwh",
            "data_type": "numeric"
        },
        {
            "name": "freq_power",
            "data_type": "numeric[]",
            "parser_config": {
                "separator": ",",
                "prefix": "{",
                "postfix": "}"
            }
        }
    ]
}
