Source: minerva-database
Section: contrib/database
Priority: extra
Maintainer: Hendrikx ITC <info@hendrikx-itc.nl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.hendrikx-itc.nl
Vcs-Git: http://github.com/hendrikx-itc/minerva.git
Vcs-Browser: http://github.com/hendrikx-itc/minerva

Package: minerva-database
Architecture: all
Depends: ${misc:Depends}, postgresql(>=9.1), postgresql-server-dev(>=9.1)
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
